body {
	background-color: lightsteelblue;
	font-family: sans-serif;
}

#wrapper {
text-align: center;
}

h1 {
	margin-bottom: .5em;
}

textarea {
	width: 40%;
	/*height: 75px;*/
	margin-bottom: 1em;
}

#create-btn {
	padding: .5em;
	font-size: 1.2em;
	background-color: white;
}

#create-btn:hover {
	color: white;
	background-color: red;
}